html {
	height: 100%;
	display: inline-block;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
}

#app {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

.el-header {
	padding-bottom: 80px;
	padding-top: 10px;
	line-height: 0.7em;
	text-align: center;
	background: #fffff4;
	color: black;
	font-size: 23px;
}

.el-menu {
	width: 100%;
}

.el-card {
	margin-bottom: 1%;
}

.icon {
	width: 100px;
	height: 100px; 
	border-radius: 50%; 
	margin-left: 21%;
	margin-top: 9%;
}

.avatar-uploader .el-upload {
	border: 2px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.avatar-uploader .el-upload:hover {
	border-color: #409EFF;
}

.avatar-uploader-icon {
	font-size: 32px;
	color: #8c939d;
	width: 378px;
	height: 278px;
	line-height: 278px;
	text-align: center;
}

.avatar {
	width: 378px;
	height: 278px;
	display: block;
}

.el-upload-list__item {
	width: 378px;
	height: 278px;
}

