<el-container style="height: 100%">
	<el-main style="padding=5%">
		<div style="display: flex">
			<el-card style="width: 61%">
				<div>
					<vue-prism-editor
						style="overflow: auto; max-height: 495px; height: 490px"
						v-model="content"
						:language="html" :lineNumbers="true"></vue-prism-editor>
				</div>
				<div style="margin-top: 2%; text-align: center; display: flex">
					<el-tooltip content="Текст, размер до 1МБ">
						<el-upload :before-upload="htmlSet"
											action="#"
											:limit="1"
											style="margin-right: 1%"
											:show-file-list="false"
											ref="upload">		
							<el-button icon="el-icon-upload"
												 slot="trigger"
												 type="success"
												 size="mini">Шаблон из файла</el-button>
						</el-upload>
					</el-tooltip>
					<el-button style="margin-left: 2%"
										 icon="el-icon-check"
										 @click="save" size="mini" type="primary">Cохранить шаблон</el-button>

					<el-button style="margin-left: 2%"
										 icon="el-icon-refresh"
										 @click="reload"
										 size="mini" type="danger">Перезагрузить шаблоны</el-button>
				</div>

			</el-card>
			<el-container direction="vertical"  style="width: 37%; margin-left: 2%">
				<el-card>
					<el-container direction="vertical">				
						<div style="display: flex">
							<el-input size="mini"
												style="margin-right: 1%; margin-bottom: 1%"
												placeholder="Название шаблона" v-model="template.name"></el-input>
							<el-input size="mini" placeholder="Название файла (с расширением)" v-model="template.file"></el-input>
						</div>
						<el-input size="mini" type="textarea" autosize placeholder="Комментарий" v-model="template.comment"></el-input>
					</el-container>

				</el-card>
				<el-card style="margin-top: 1%">
					<v-jsoneditor 
								 v-model="template.data" :options="options" :plus="false" :height="height" @error="onError">
					</v-jsoneditor>
					<el-tooltip content="JSON, размер до 1МБ">
						<el-upload :before-upload="jsonSet"
											style="margin-top: 2%"
											action="#"
											:show-file-list="false"
											:limit="1"
											ref="upload">		
							<el-button icon="el-icon-upload"
												 slot="trigger"
												 type="success"
												 size="mini">JSON из файла</el-button>
						</el-upload>
					</el-tooltip>
				</el-card>
			</el-container>
		</div>
	</el-main>
</el-container>
